<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <div class="logo center-block"></div>
    <p class="text-center"><a class="btn btn-primary btn-lg" href="#" role="button">Learn More &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Empowering Data</h2>
      <p>YourCoolingTower.com will provide you with detailed, expert analysis of your cooling tower chemical make-up.  By sending us samples, we will measure three critical components of your cooling tower to let you know exactly what maintenance may or may not be required.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Save on Maintenance</h2>
      <p>YourCoolingTower.com understands the expenses involved in maintaining your cooling tower and we are focused on minimizing those costs by providing you with the data you need to independently maintain your cooling tower. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Flexible Plans</h2>
      <p>YourCoolingTower.com offers a variety of cost-effective approaches for maintaining your cooling tower including data analysis of your cooling tower chemical make-up and providing you with the chemicals you need to maintain your cooling tower</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; YourCoolingTower.com 2015</p>
  </footer>
</div> <!-- /container -->