/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
  background-color: #999999;
  background-size: 100% auto;
}

.logo {
  background-image: url("logo.png");
  height: 200px;
  width: 830px;
}

@media screen and (max-width: 830px) {
  .logo {
    background-image: url("logo-sm.png");
    height: 140px;
    width: 300px;
  }
}